<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<a th:fragment="paging(pageNum, label, tooltip)" class="page-link"
   th:href="@{'/index?' + (${keyword != null && keyword != '' ? 'keyword=' + keyword + '&' : ''})
                           + 'page=' + ${pageNum} + '&size=' + ${pageSize}
                           + (${sortField != null ? '&sort=' + sortField + ',' + sortDirection : ''})}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>
</body>
</html>
