<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<!-- custom navbar made by Bogdan Ene ;) -->
<div th:insert="~{fragments/navbar :: navbar}"></div>

<h1 style="text-align: center; text-decoration: underline; font-weight: bold; color: violet; font-size: 20px; inline-block;">
    All flowers</h1>

<div style="text-align: center">
    <table class="table table-striped table-responsive-md" style="width: 50%; margin: 0 auto;">
        <thead>
        <tr>
            <th th:replace="~{fragments/sorting :: sorting('id','Id')}"></th>
            <th th:replace="~{fragments/sorting :: sorting('name','Name')}"></th>
            <th th:replace="~{fragments/sorting :: sorting('color','Color')}"></th>
            <th th:replace="~{fragments/sorting :: sorting('price','Price (Lei)')}"></th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${flowers.empty}">
            <td colspan="6" style="text-align: center">No flowers available</td>
        </tr>
        <tr th:each="flower : ${flowers}">
            <td><span th:text="${flower.id}"> </span></td>
            <td><span th:text="${flower.name}"> </span></td>
            <td><span th:text="${flower.color}"> </span></td>
            <td><span th:text="${flower.price + ' Lei'}"></span></td>
            <td><a th:href="@{'/index/flower/delete/' + ${flower.id}}"><i class="fa fa-trash-alt"></i> </a></td>
            <td><a th:href="@{'/index/edit-flower/' + ${flower.id}}"><i class="fa fa-edit"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Pagination code -->
<div style="text-align: center; margin-top: 20px;">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link" th:href="@{|/index?page=1&size=${pageSize}&sort=${sortField},${sortDirection}|}"
                   aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${pageNum == currentPage} ? 'active'">
                <a class="page-link"
                   th:href="@{|/index?page=${pageNum}&size=${pageSize}&sort=${sortField},${sortDirection}|}"
                   th:text="${pageNum}">1</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|/index?page=${totalPages}&size=${pageSize}&sort=${sortField},${sortDirection}|}"
                   aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
